# Git
.git
.gitignore

# Docker
.docker

# Python
# These could be cache files on local machine and not required to be ported to the container
# Virtual env files do not need to be copied over either
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/